<form [formGroup]="form" (ngSubmit)="onNext()" novalidate>
  <div class="grille">

    <!-- LIGNE 1 -->
    <div class="champ col3">
      <label class="titre">1er loisir</label>
      <div class="saisie" [class.erreur]="isInvalid('loisir1')">
        <i class="fa-solid fa-masks-theater ico"></i>
        <select formControlName="loisir1" class="entr" title="1er loisir">
          @for (opt of loisirOptions; track opt) {
            <option [value]="opt">{{ opt }}</option>
          }
        </select>
      </div>
      @if (isInvalid('loisir1')) {
        <span class="err">Obligatoire</span>
      }
    </div>

    <div class="champ col3">
      <label class="titre">1ère activité sportive</label>
      <div class="saisie" [class.erreur]="isInvalid('activite1')">
        <i class="fa-solid fa-futbol ico"></i>
        <select formControlName="activite1" class="entr" title="1ère activité sportive">
          @for (opt of sportOptions; track opt) {
            <option [value]="opt">{{ opt }}</option>
          }
        </select>
      </div>
      @if (isInvalid('activite1')) {
        <span class="err">Obligatoire</span>
      }
    </div>

    <div class="champ col3">
      <label class="titre">Handicap</label>
      <div class="saisie" [class.erreur]="isInvalid('handicap')">
        <i class="fa-solid fa-wheelchair ico"></i>
        <select formControlName="handicap" class="entr" title="Handicap">
          @for (opt of handicapOptions; track opt) {
            <option [value]="opt">{{ opt }}</option>
          }
        </select>
      </div>
      @if (isInvalid('handicap')) {
        <span class="err">Obligatoire</span>
      }
    </div>

    <div class="champ col3">
      <label class="titre">Profession ?</label>
      <div class="saisie" [class.erreur]="isInvalid('profession')">
        <i class="fa-solid fa-user-tie ico"></i>
        <select formControlName="profession" class="entr" title="Profession">
          @for (opt of professionOptions; track opt) {
            <option [value]="opt">{{ opt }}</option>
          }
        </select>
      </div>
      @if (isInvalid('profession')) {
        <span class="err">Obligatoire</span>
      }
    </div>

    <!-- LIGNE 2 -->
    <div class="champ col3">
      <label class="titre">2ième loisir</label>
      <div class="saisie">
        <i class="fa-solid fa-masks-theater ico"></i>
        <select formControlName="loisir2" class="entr" title="2ième loisir">
          @for (opt of loisirOptions; track opt) {
            <option [value]="opt">{{ opt }}</option>
          }
        </select>
      </div>
    </div>

    <div class="champ col3">
      <label class="titre">2ième activité sportive</label>
      <div class="saisie">
        <i class="fa-solid fa-futbol ico"></i>
        <select formControlName="activite2" class="entr" title="2ième activité sportive">
          @for (opt of sportOptions; track opt) {
            <option [value]="opt">{{ opt }}</option>
          }
        </select>
      </div>
    </div>

    <div class="col6"></div>

    <!-- LIGNE 3 -->
    <div class="champ col6">
      <label class="titre">Nom du père ou du tuteur <span class="req">*</span></label>
      <div class="saisie" [class.erreur]="isInvalid('nomPere')">
        <i class="fa-solid fa-user ico"></i>
        <input type="text" formControlName="nomPere"
               placeholder="Nom du papa ou du tuteur à contacter en cas de problème"
               class="entr"/>
      </div>
      @if (isInvalid('nomPere')) {
        <span class="err">Le nom du père ou tuteur est obligatoire.</span>
      }
    </div>

    <div class="champ col6">
      <label class="titre">Nom de la mère ou de la tutrice <span class="req">*</span></label>
      <div class="saisie" [class.erreur]="isInvalid('nomMere')">
        <i class="fa-solid fa-user-dress ico"></i>
        <input type="text" formControlName="nomMere"
               placeholder="Nom de la maman ou de la tutrice à contacter en cas de problème"
               class="entr"/>
      </div>
      @if (isInvalid('nomMere')) {
        <span class="err">Le nom de la mère ou tutrice est obligatoire.</span>
      }
    </div>

    <!-- LIGNE 4 -->
    <div class="champ col4">
      <label class="titre">N° téléphone du père ou tuteur <span class="req">*</span></label>
      <div class="saisie" [class.erreur]="isInvalid('telPere')">
        <i class="fa-solid fa-phone ico"></i>
        <input type="tel" formControlName="telPere" placeholder="N° tel père ou tuteur" class="entr"/>
      </div>
      @if (isInvalid('telPere')) {
        <span class="err">
          @if (f['telPere'].errors?.['required']) { Téléphone obligatoire. }
          @if (f['telPere'].errors?.['pattern']) { Numéro invalide (9 chiffres). }
        </span>
      }
    </div>

    <div class="champ col4">
      <label class="titre">Email du père ou tuteur</label>
      <div class="saisie" [class.erreur]="isInvalid('emailPere')">
        <i class="fa-solid fa-paper-plane ico"></i>
        <input type="email" formControlName="emailPere" placeholder="email père / tuteur" class="entr"/>
      </div>
      @if (isInvalid('emailPere')) {
        <span class="err">Format d'adresse email invalide.</span>
      }
    </div>

    <div class="champ col4">
      <label class="titre">N° téléphone de la mère ou tutrice</label>
      <div class="saisie" [class.erreur]="isInvalid('telMere')">
        <i class="fa-solid fa-phone ico"></i>
        <input type="tel" formControlName="telMere" placeholder="N° tel mère / tutrice" class="entr"/>
      </div>
      @if (isInvalid('telMere')) {
        <span class="err">Numéro de téléphone invalide (9 chiffres).</span>
      }
    </div>

  </div>
</form>
